@media screen and (min-width: 1000px){
body{
    background-color: #d3d3d3;
    width: 100%;
    max-width: 1000px;
}
}

nav{
    display: inline
}

#profile-picture{
    position:absolute;
    top: 150px;
    width: 150px;
    height: 200px;
    border-radius: 50%;
    left: 100px;
}

.table-of-contents{
    position:absolute;
    left:100%;
}


.about-me,
.resume,
.contact-me,
.work{
    position:relative;
    left:45%;
    top:50px;
}

#name{
    background-color: gray;
    height: 100px;
    width: 400px;
    text-align: center;
    line-height: 100px;
    border-radius: 25px;
    position: absolute;
}

ul{
    text-align: right;
}

li{
    display: inline;
}

img{
    height:200px;
    width:200px;
}

img:hover{
    height: 350px;
    width:350px;
}


caption{
position: relative;
text-align: center;
}

.dog,
.cat,
.monkey,
.rabbit  {
    position: relative;
    overflow: hidden;
    margin: 8px;
}

.dog:before,
.dog:after,
.cat:before,
.cat:after,
.monkey:before,
.monkey:after,
.rabbit:before,
.rabbit:after{
    filter: blur(8px);
}

.dog:hover > img,
.cat:hover > img,
.monkey:hover > img,
.rabbit:hover > img {
  opacity: 0.7;
}

footer{
    text-align: center;
    position: relative;
    top: 60px;
    left:20%
}